.footer {
    background: #716df2;
    padding: 2rem;
    margin-top: 2rem;
    font-family: "Inconsolata", serif;
}

.social-icons img {
    width: 24px;
    margin: 0 10px; /*consistent social media icons */
}